#  Fixed lenght parameters

In [1]:
def calc(a,b):
    print(a+b)
    print(a-b)
calc(63,73)

136
-10

# Variable  lenght parameters

In [6]:
def sum(*args):
    
    sum =0
    for i in args:
        sum = sum+i
    print(sum)
    print(args)
    print(type(args))

In [7]:
sum(10,20)

30
(10, 20)
<class 'tuple'>

In [12]:
#  * indiacates variable legth

def sum(*args):
    
    sum =0
    for i in args:
        sum = sum+i
    print(sum)
    print(args)
    print(type(args))

In [13]:
sum(10,11,11,22,66)

120
(10, 11, 11, 22, 66)
<class 'tuple'>

In [14]:
#  * indiacates variable legth
#  args is not compulsory
#  its a industry practice


def sum(*kajal):
    
    sum =0
    for i in kajal:
        sum = sum+i
    print(sum)
    print(kajal)
    print(type(kajal))

In [15]:
sum(10,11,11,22,66)

120
(10, 11, 11, 22, 66)
<class 'tuple'>

In [16]:
# Types of argumnets

In [17]:
# Positional

def intro(name ,age):
    print("Myname is {} and my age is {}".format(name,age))
intro('Ramesh',26)

Myname is Ramesh and my age is 26

In [18]:
intro(26,'ramesh')

Myname is 26 and my age is ramesh

In [21]:
# Default

def greet(city="Our city"):
    print('welcome to : ', city)
greet("Pune")

welcome to :  Pune

In [22]:
greet()

welcome to :  Our city

In [23]:
#  variable lenght argument

In [24]:
# **kwargs

In [25]:
def func1(a,b,c=0,*args):
    print(a)
    print(b)
    print(c)

In [26]:
func1(10,20,100)

10
20
100

In [27]:
func1(100,200)

100
200
0

In [28]:
def func1(c=0,a,b,*args):
    print(a)
    print(b)
    print(c)

SyntaxError: non-default argument follows default argument (4262969817.py, line 1)

In [29]:
def func1(*args,a,b,c=0):
    print(a)
    print(b)
    print(c)

In [30]:
func1(10,20)

TypeError: func1() missing 2 required keyword-only arguments: 'a' and 'b'

In [ ]:
# positional , default , *args , **kwargs

In [32]:
def calc1(*args):
    print(args)

In [33]:
calc1(10)

(10,)

In [35]:
calc1(10,20,30)

(10, 20, 30)