In [1]:
# Positional

def intro(name ,age):
    print("Myname is {} and my age is {}".format(name,age))
intro('Ramesh',26)

Myname is Ramesh and my age is 26

In [2]:
# 
def intro(name ,age):
    print("Myname is {} and my age is {}".format(name,age))
intro(26,'Ramesh')

Myname is 26 and my age is Ramesh

In [3]:
intro(age=26,name ='Ramesh')
intro(name ='Ramesh',age=26,)

Myname is Ramesh and my age is 26
Myname is Ramesh and my age is 26

In [4]:
# **kwars = Dict

def intro(**kwargs):
    for key,value in kwargs.items():
        print(key,value)
intro(name ='Ramesh',age=26)

name Ramesh
age 26

In [5]:
# **kwars = Dict

def intro(**kwargs):
    for key,value in kwargs.items():
        print(key,value)
intro(name ='Ramesh',age=26,place='Pune',domicile='Punjab',workex=5)

name Ramesh
age 26
place Pune
domicile Punjab
workex 5

In [6]:
# **vishal = Dict

def intro(**vishal):
    for key,value in vishal.items():
        print(key,value)
intro(name ='Ramesh',age=26,place='Pune',domicile='Punjab',workex=5)

name Ramesh
age 26
place Pune
domicile Punjab
workex 5

# lambda Function

In [7]:
# lambda Function
# anonymous function
# nameless
# one line function

In [8]:
def sq(a):
    return a*a

sq(5)

25

In [9]:
# syntax
# lambda arguments : expresion

In [10]:
lambda a : a*a

In [11]:
sqr =lambda a : a*a
sqr(5)

25

In [12]:
def cub(x):
    return x*x*x

cub(7)

343

In [13]:
lambda x : x*x*x

In [14]:
cub = lambda x : x*x*x

In [15]:
cub(7)

343

In [16]:
# passing the value in the lambda function
# withoust using the name for the nameless function

(lambda x : x*x*x)(7)

343

In [17]:
print(25)

25

In [18]:
(lambda x , y : x+y)(10,20)

30

In [19]:
(lambda x , y : x-y)(10,20)

-10

In [20]:
(lambda x , y : x*y)(10,20)

200

In [21]:
(lambda x , y : x/y)(10,20)

0.5

In [22]:
(lambda x  : x> 0)(10)

True

In [23]:
(lambda x  : x> 0)(-10)

False

In [24]:
(lambda x  : x%2 == 0)(15)

False

In [25]:
(lambda x  : x%2 == 0)(14)

True