# Intro to Pandas

In [1]:
# always import numpy and pandas if using pandas as best practice

In [2]:
# User guide for pandas Quick 10min
# https://pandas.pydata.org/docs/user_guide/10min.html

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
df = pd.read_csv('gapminder_full.csv')

## DataFrame

In [6]:
# table is called DataFrame in pandas, collection of rows and columns

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.shape

(1704, 6)

In [9]:
df.size

10224

In [10]:
df.ndim

2

In [11]:
df.dtypes

country        object
year            int64
population      int64
continent      object
life_exp      float64
gdp_cap       float64
dtype: object

## Series

In [12]:
#  A series is a building bloc in Pandas 
# A DataFrame is a collection of Series
# most of the method will work on both dataframes and series

In [13]:
# df[0]
s = df['country']

In [14]:
s

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [15]:
type(s)

pandas.core.series.Series

In [16]:
df['life_exp']

0       28.801
1       30.332
2       31.997
3       34.020
4       36.088
         ...
1699    62.351
1700    60.377
1701    46.809
1702    39.989
1703    43.487
Name: life_exp, Length: 1704, dtype: float64

In [17]:
s.shape

(1704,)

In [18]:
s.size

1704

In [19]:
s.ndim

1

In [20]:
s.dtype

dtype('O')