In [1]:
import numpy as np
import pandas as pd

In [2]:
a = pd.read_csv('a.csv')
b = pd.read_csv('b.csv')

In [5]:
a

    A   B
0  10  20
1  30  40

In [6]:
b

    A   C
0  10  20
1  30  40

In [12]:
pd.concat([a,b],axis=1)

    A   B   A   C
0  10  20  10  20
1  30  40  30  40

In [15]:
pd.concat([a,b],axis=1,join='outer')

    A   B   A   C
0  10  20  10  20
1  30  40  30  40

In [18]:
pd.concat([a,b],axis=1,join='inner')

    A   B   A   C
0  10  20  10  20
1  30  40  30  40

In [19]:
pd.concat([a,b],axis=0,join='inner')

    A
0  10
1  30
0  10
1  30

# Merge

In [22]:
pd.concat([a,b])

    A     B     C
0  10  20.0   NaN
1  30  40.0   NaN
0  10   NaN  20.0
1  30   NaN  40.0

In [25]:
a.merge(b) #this is an intelligent function
# takes into account the common columns

    A   B   C
0  10  20  20
1  30  40  40

In [23]:
a

    A   B
0  10  20
1  30  40

In [24]:
b

    A   C
0  10  20
1  30  40

In [3]:
user = pd.DataFrame({'userid' : [1,2,3],'name' : ['A' ,'B' ,'C'] })

In [26]:
user

   userid name
0       1    A
1       2    B
2       3    C

In [27]:
msgs = pd.DataFrame({'userid':[1,1,2] ,'msg' : ['hello','bye','hi']})

In [28]:
msgs

   userid    msg
0       1  hello
1       1    bye
2       2     hi

In [29]:
# using concat
pd.concat([user,msgs])

   userid name    msg
0       1    A    NaN
1       2    B    NaN
2       3    C    NaN
0       1  NaN  hello
1       1  NaN    bye
2       2  NaN     hi

In [30]:
pd.concat([user,msgs],axis=1)

   userid name  userid    msg
0       1    A       1  hello
1       2    B       1    bye
2       3    C       2     hi

In [31]:
# using merge

In [32]:
user.merge(msgs) # the data related to user 'C' got lost

   userid name    msg
0       1    A  hello
1       1    A    bye
2       2    B     hi

In [33]:
msgs = pd.DataFrame({'id':[1,1,2] ,'msg' : ['hello','bye','hi']})

In [35]:
msgs

   id    msg
0   1  hello
1   1    bye
2   2     hi

In [34]:
user

   userid name
0       1    A
1       2    B
2       3    C

In [37]:
user.merge(msgs,left_on='id', right_on='userid')

KeyError: 'userid'

In [38]:
user.merge(msgs,left_on='userid', right_on='id') #swapping the vales based on the consideration

   userid name  id    msg
0       1    A   1  hello
1       1    A   1    bye
2       2    B   2     hi

In [41]:
user.merge(msgs,left_on='userid', right_on='id').drop('id',axis=1) #dropping the duplicate column

   userid name    msg
0       1    A  hello
1       1    A    bye
2       2    B     hi

In [42]:
user

   userid name
0       1    A
1       2    B
2       3    C

In [43]:
msgs

   id    msg
0   1  hello
1   1    bye
2   2     hi

In [45]:
msgs.merge(user,left_on='id', right_on='userid').drop('id',axis=1)# swapping the tables before merging to check if the data for user 'c' is preserved ?

     msg  userid name
0  hello       1    A
1    bye       1    A
2     hi       2    B

In [46]:
user.merge(msgs,left_on='userid', right_on='id',how='inner').drop('id',axis=1)

   userid name    msg
0       1    A  hello
1       1    A    bye
2       2    B     hi

In [47]:
user.merge(msgs,left_on='userid', right_on='id',how='outer').drop('id',axis=1)

   userid name    msg
0       1    A  hello
1       1    A    bye
2       2    B     hi
3       3    C    NaN