#  Revision

In [2]:
a = 100
b = 0
c = a /b 
print(c)

ZeroDivisionError: division by zero

In [5]:
name = "MINSKOLE"

print(name[7])
print(name[17])

E

IndexError: string index out of range

In [6]:
a = 100
try:
    
    b = input("Enter a NUmber")
    c = a /b 
    print(c)
except:
    print("Some error occured")

Enter a NUmber0
Some error occured

In [9]:
a = 100
try:
    
    b = input("Enter a NUmber")
    print(type(b))
    c = a /b 
    print(c)
    
except:
    print("Some error occured")

Enter a NUmber100
<class 'str'>
Some error occured

In [10]:
a = 100
try:
    
    b = int(input("Enter a NUmber"))
    print(type(b))
    c = a /b 
    print(c)
    
except:
    print("Some error occured")

Enter a NUmber100
<class 'int'>
1.0

# using else in try..except

In [12]:
a = 100
try:
    
    b = int(input("Enter a NUmber"))
    print(type(b))
    c = a /b 
    print(c)
    
except Exception as error :
    print("Some error occured" , error)
else: #this will be exceuted if there is no exception
    print("Code executed successfully , congrats !!! ")

Enter a NUmber100
<class 'int'>
1.0
Code executed successfully , congrats !!!

# using finally !!!

In [14]:
a = 100
try:
    
    b = int(input("Enter a NUmber"))
    print(type(b))
    c = a /b 
    print(c)
    
except Exception as error :
    print("Some error occured" , error)
else: #this will be exceuted if there is no exception
    print("Code executed successfully , congrats !!! ")
finally: #always get executed
    print("This code will always get executed , irrespective of the execution status under try..except block")

Enter a NUmber00
<class 'int'>
Some error occured division by zero
This code will always get executed , irrespective of the execution status under try..except block

# Custom Exception

In [16]:
x =  int(input("Enter a number"))
print(x)

Enter a number100
100

In [17]:
x =  int(input("Enter even  number only "))
print(x)

Enter even  number only 23
23

In [18]:
# creating user defined Exception !!!
x =  int(input("Enter even  number only "))
if x%2 !=0:
    raise Exception("ONly even numbers are allowed")
else:
    print(x)

Enter even  number only 23

Exception: ONly even numbers are allowed

# handeling user defined exception

In [19]:
# creating user defined Exception !!!
try:
    x =  int(input("Enter even  number only "))
    if x%2 !=0:
        raise Exception("ONly even numbers are allowed")
    else:
        print(x)
except:
    print("Only even number allowed")

Enter even  number only 23
Only even number allowed

In [20]:
def cal_age(year_born):
    current_year = 2023
    age = current_year - year_born
    print(age)
cal_age(2000)

23

In [21]:
def cal_age(year_born):
    current_year = 2023
    age = current_year - year_born
    print(age)
cal_age(2030)

-7

In [24]:
def cal_age(year_born):
    current_year = 2023
    if current_year<year_born:
        raise Exception("Invalid  year of birth")
    else:
        age = current_year - year_born
        print(age)
cal_age(2030)

Exception: Invalid  year of birth

In [28]:
def cal_age(year_born):
    current_year = 2023
    if current_year<year_born:
        raise Exception("Invalid  year of birth")
    else:
        age = current_year - year_born
        print(age)
        
try:        
    cal_age(2090)
except:
    print("Invalid  year of birth")

Invalid  year of birth

In [29]:
# Syntax error
# Exception
#     Built in exception : class : Exception  
#     User defined  :  using "raise" keyword 



# try:
#     code that is prone to error
# except Exception/precise sub-class as error (https://docs.python.org/3/library/exceptions.html#exception-hierarchy)
#     print custom msg
# else : 
#    if the code exceuted without any exception
# finally :
#    in all situation